services:
  web:
    build:
      context: .
      dockerfile: dockerfile
    ports:
      - "8080:80"
    container_name: CORE3
    volumes:
      - .:/var/www/html
#    environment:
#      - JWT_SECRET=supersecretkey123